.netrc
.keras
.lightning_studio
.vscode/
.idea/
.cursor-server
.vscode-server
.windsurf-server
*.pyc
.venv/
venv/
env/
data/*
!data/ames_housing.csv
!data/fetch_california_housing.csv
scikit_learn_data
checkpoints/*
outputs
wandb
logs
